[submodule "lisp/tla-tools"]
	path = lisp/tla-tools
	url = https://github.com/mrc/tla-tools.git
[submodule "lisp/org-fragtog"]
	path = lisp/org-fragtog
	url = https://github.com/io12/org-fragtog.git
[submodule "lisp/kaolin-themes"]
	path = lisp/kaolin-themes
	url = https://github.com/ogdenwebb/emacs-kaolin-themes.git
